<!DOCTYPE html>

<html>
<body>

	<canvas id="backgroundCanvas">
	Sorry, but your browser does not support the HTML5 canvas tag.
	</canvas>

</body>


<script>
var keys = [];
window.addEventListener("keydown",
    function(e){
        keys[e.keyCode] = true;
        switch(e.keyCode){
            case 37: case 39: case 38:  case 40: // Arrow keys
            case 32: e.preventDefault(); break; // Space
            default: break; // do not block other keys
        }
    },
false);
window.addEventListener('keyup',
    function(e){
        keys[e.keyCode] = false;
    },
false);
</script>

<script src="../res/src/GameObject.js"></script>
<script src="../res/src/VisualGameObject.js"></script>
<script src="../res/src/AnimatedGameObject.js"></script>
<script src="../res/src/submarine.js"></script>
<script src="../res/src/Utils.js"></script>
<script src="../res/src/ApplicationManager.js"></script>
<script src="../res/src/gameobjectmanager.js"></script>
<script src="../res/src/main.js"></script>
</html>
