<html>

<link href="../res/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="../res/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

<style type="text/css">
    body {
        padding-top: 20px; /* 60px to make the container go all the way to the bottom of the topbar */
        background-image:url('../res/img/Unmechanical-Screenshot-Wallpaper-Underwater.jpg');
        color:white;
    }
</style>

<body style="text-align: center">
    <div class="container-fluid">
        <!-- This is the image... No need to touch this. -->
        <div class="row-fluid">
            <div class="span12">
                <img src="../res/img/static.gif" height=200 width=250></img>
            </div>
        </div>
        <!-- Name of the creature -->
        <div class="row-fluid">
            <div class="span12">
                <p>No creature in sight.</p>
            </div>
        </div>
        <div style="text-align: left" class="row-fluid">

        </div>
    </div>
</body>

<script src="../res/src/jquery.js"></script>
<script src="../res/bootstrap/js/bootstrap.min.js"></script>

</html>